* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto" sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #1d273b;
  font-weight: 300;
}

.contenedor {
  width: 90%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
}
.contenedor1 {
  width: 90%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
  padding: 60px 0;
}

h1 {
  font-size: 50px;
}

/*HEADER*/
header::before {
  content: "";
  display: block;
  margin-bottom: 80px;
}
nav {
  width: 100%;
  height: 100px;
  background: white;
  border-bottom: 1px solid transparent;
  box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  z-index: 100;
  transition: ease-in-out 0.5s;
}
.nav {
  display: flex;
  justify-content: space-between;
  height: 80px;
  width: 100%;
  align-items: center;
  padding: 0 40px;
}
.nav .logo {
  height: 80px;
}
.nav .logo img {
  height: 100%;
  vertical-align: top;
}

.enlaces-header {
  font-weight: 300;
  transition: ease-in-out 0.5s;
}

.nav .enlaces-header a {
  color: #5d6678;
  text-decoration: none;
  margin-left: 20px;
}

.hamb-menu {
  width: 80px;
  height: 80px;
  display: none;
  /*background: #ffffff;*/
  text-align: center;
  z-index: 100;
  cursor: pointer;
  /*transition: color 0.5s ease-in;*/
}
.hamb-menu > i {
  font-size: 25px;
  line-height: 80px;
}

.contenido-header {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contenido-header > img {
  width: 550px;
  animation: ease-in animation1 1s;
}

@keyframes animation1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.textos-header {
  margin: 0 0 0 30px;
}

.contenido-header {
  font-weight: 100;
  margin-top: 14px;
  color: #5d6678;
}

.contenido-header a {
  margin: 28px 0 0 0;
  width: 130px;
  display: inline-block;
  background: #1fde82;
  text-align: center;
  color: azure;
  padding: 12px 0;
  text-decoration: none;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 14px;
  border-radius: 5px;
  box-shadow: 0 8px 32px rgba(31, 222, 130, 0.46);
}

.titulo {
  font-size: 50px;
}

/* Acerca de nosotros*/

.acerca-de-nosotros {
  background: #f2f2f2;
}

.contenedor-articulo {
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
  justify-content: space-around;
}

.articulo {
  width: 29%;
  background: #fff;
  margin-bottom: 30px;
  border-radius: 10px;
  padding: 45px 30px 60px 30px;
  transition: 0.5s;
}

.articulo:hover {
  box-shadow: 0 4px 10px rgba(17, 29, 48, 0.26);
}

.articulo > i {
  font-size: 30px;
  color: #fff;
  background: #1fde82;
  display: inline-block;
  width: 70px;
  height: 70px;
  text-align: center;
  padding-top: 20px;
  border-radius: 50%;
  box-shadow: 0 8px 32px rgba(31, 222, 130, 0.46);
}

.articulo > h3 {
  font-size: 24px;
  margin-top: 30px;
}
.articulo > p {
  font-weight: 100;
  color: #5d6678;
  margin-top: 15px;
  padding-bottom: 20px;
}
.articulo > a {
  color: #5d6678;
  font-weight: 400;
  text-decoration: none;
}
.articulo > a:hover {
  color: #1fde82;
  transition: color 0.5s;
}

/*Preguntas*/
.preguntas {
  height: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.preguntas > img {
  width: 550px;
  animation: ease-in animation1 1s;
}

.textos-preguntas {
  margin: 0 0 0 30px;
}

.textos-preguntas > p {
  font-weight: 100;
  margin-top: 14px;
  color: #5d6678;
}

.textos-preguntas a {
  margin: 28px 0 0 0;
  width: 130px;
  display: inline-block;
  background: #1fde82;
  text-align: center;
  color: azure;
  padding: 12px 0;
  text-decoration: none;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 14px;
  border-radius: 5px;
  box-shadow: 0 8px 32px rgba(31, 222, 130, 0.46);
}

.resultados {
  background: #57c7d0;
  padding: 30px;
}

.contenedor-resultados {
  display: flex;
  justify-content: space-evenly;
}

.numbers {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.numbers .number {
  width: 45%;
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  border-radius: 10px;
  padding: 40px 35px;
  margin-bottom: 20px;
}

.numbers .number h4 {
  color: #fff;
  font-size: 35px;
  font-weight: 500;
  margin-bottom: 20px;
}

.numbers .number p {
  color: #fff;
  font-weight: 300;
}

.resultados-textos {
  width: 37%;
}

.resultados-textos h4 {
  color: #fff;
  font-size: 40px;
}

.resultados-textos p {
  color: #fff;
  font-weight: 300;
  margin: 20px 0;
}

.resultados-textos > a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  border: 1px solid #fff;
  padding: 10px 0;
  width: 120px;
  text-align: center;
  border-radius: 5px;
}

/*Servicios*/

.servicios {
  display: flex;
  justify-content: space-between;
}

.servicios > img {
  width: 500px;
}

.box-skills h4 {
  margin: 30px 30px 0 0;
  background: #f2f2f2;
  width: 350px;
  padding: 10px 0 10px 15px;
  margin-bottom: 10px;
}

.box-skills i {
  color: #1fde82;
  font-size: 20px;
}

/*Footer*/

footer {
  background: #f2f2f2;
  padding: 60px 0;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: auto;
}

.partFooter {
  width: 20%;
  text-align: center;
}

.partFooter h4 {
  color: #1d273b;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 30px;
}

.partFooter a {
  display: block;
  text-decoration: none;
  color: #5d6678;
  font-weight: 300;
  transition: color 0.3s ease-in-out;
  margin-bottom: 10px;
}

.partFooter a:hover {
  color: #1fde82;
}

.partFooter img {
  width: 70%;
}

.social-media i {
  font-size: 20px;
  display: inline-block;
  color: #adb6c7;
  border: 1px solid #adb6c7;
  border-radius: 50%;
  width: 38px;
  height: 38px;
  line-height: 36px;
  cursor: pointer;
  margin-top: 20px;
  text-align: center;
  transition: all ease-in-out 0.3s;
  margin-right: 5px;
}

.social-media i:hover {
  color: #fff;
  background-color: #1fde82;
  border-color: #1fde82;
}

/*Breackpoints Responsive*/
@media screen and (max-width: 800px) {
  .titulo {
    font-size: 45px;
  }
  .contenido-header {
    flex-direction: column;
    justify-content: space-evenly;
    height: 720px;
  }
  .contenido-header > img {
    width: 400px;
  }
  .textos-header {
    margin: 0;
  }
}

/* Acerca de nosotros*/
.articulo {
  width: 45%;
}
/*Preguntas*/
.preguntas {
  height: 720px;
  justify-content: space-evenly;
  flex-direction: column;
}

.preguntas > img {
  width: 400px;
}

/*Resultados*/
.contenedor-resultados {
  flex-direction: column-reverse;
}

.resultados-textos > a {
  margin-bottom: 60px;
}

.numbers {
  width: 100%;
}

.resultados-textos {
  width: 100%;
}

/*Servicios*/
.servicios {
  flex-direction: column-reverse;
  align-items: center;
}

.box-skills {
  margin-bottom: 0 0 40px o;
}

.box-skills h4 {
  width: 550px;
}
.servicios > a {
  width: 400px;
}

/*Footer*/
footer {
  justify-content: space-evenly;
}
.partFooter {
  width: 40%;
  margin-bottom: 40px;
}

@media screen and (max-width: 600px) {
  .titulo {
    font-size: 35px;
  }
  h1 {
    font-size: 40px;
  }
  .contenido-header {
    height: 650px;
  }
  .nav {
    padding: 0 10px;
  }
  .contenido-header > img {
    width: 250px;
  }
  .enlaces-header {
    position: fixed;
    background: #000046; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #1cb5e0,
      #000046
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #1cb5e0,
      #000046
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    clip-path: circle(0% at 100% 0%);
  }

  .nav .menu2 {
    -webkit-clip-path: circle(150% at 100% 0);
    clip-path: circle(150% at 100% 0%);
  }
  .nav .enlaces-header a {
    color: #fff;
  }
  .hamb-menu {
    display: block;
  }
  /*Acerca de nosotros*/
  .articulo {
    width: 95%;
  }
  /*Preguntas*/
  .preguntas > img {
    width: 200px;
  }
  /*Resultados*/
  .numbers .number {
    width: 95%;
  }
  .resultados-textos h4 {
    font-size: 35px;
  }
  /*Servicios*/

  .servicios > img {
    width: 200px;
  }
  .box-skills h4 {
    width: 100%;
  }

  /*footer*/
  .partFooter {
    width: 95%;
    margin-bottom: 40px;
  }
}
